  :root {
    /* variables */
    --main-bg-color: #565656;
    --btn-bg-color: #9d93e1;
    --btn-bg-color-hover:  #685ea9;
    --alert-txt-color:  rgb(255, 129, 154);
    --hr-color: #7d9e43;
    --main-brd-width: 1px;
  }
  
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #b6b6b6; */
    /* min-height: 100vh; */
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  .container {
    height: 100vh;
    padding: 1rem;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    /* background-color: #565656; */
    color: #fff;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  button {
    border: none;
    outline: none;
    background: none;
  }
  input {
    border: none;
    outline: none;
    background: none;
  }

  .flex-jcsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-jcc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-jcl {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .flex-jcr {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .spacer {
    display: block;
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, #7d9e43, var(--btn-bg-color-hover), #8f9487);
  }