  :root {
    /* variables */
    --main-bg-color: #565656;
    --btn-bg-color: #9d93e1;
    --btn-bg-color-hover:  #685ea9;
    --alert-txt-color:  rgb(255, 129, 154);
    --hr-color: #7d9e43;
    --main-brd-width: 1px;
    --semi-transp-bg: #000000b6;
  }
  
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #b6b6b6; */
    /* min-height: 100vh; */
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  body {
    width: 100%;
    height: 100%;
    background-image: url('@/img/main-background.jpeg');
    /* background-repeat: repeat-y; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }

  .container {
    min-height: 100vh;
    padding: 1rem;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--semi-transp-bg);
    /* background-color: #565656; */
    color: #fff;
  }
  /* .container.inactive {
    pointer-events: none;
    overflow: hidden;
  } */
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  button {
    border: none;
    outline: none;
    background: none;
  }
  input {
    border: none;
    outline: none;
    background: none;
  }
  a,
  a:visited,
  a:link,
  a:hover,
  a:active {
    text-decoration: none;
    color: #fff;
  }

  .flex-jcsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-jcc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-jcl {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .flex-jcr {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .spacer {
    display: block;
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, #7d9e43, var(--btn-bg-color-hover), #8f9487);
  }